<!DOCTYPE html>
	<html lang="en" ng-app="eventsApp">
	<head>
		<title>
	
		</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<style type="text/css">
			body{
				padding:10px;
				}
		</style>
		
	</head>

	<body>
		
	<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<li class="active"><a href="EventDetails.html">Home</a></li>
						<li><a href="NewEvent.html">New</a></li>
						
					</ul><!--/.end nav -->
				</div>
				
				
			</div>
			
			<div ng-controller="EventController">
				<div class="row">
					<div class="span11" style='padding:10px;'>
						<h1>{{ event.name }}</h1>
					</div>
				</div>
				
				<div class="row">
					<div class="span3">
						{{ event.date }}<br />
						{{ event.time }}
					</div>
					<div class="span4">
						<address>
							<strong>{{ event.location.address }}</strong><br/>
							<span> {{ event.location.city }} </span>
						</address>
					</div>
					
				</div>
				
				<hr/>
				
				Order By:
				<select ng-model="sortorder" class="input-small">
						<option selected value="name"/>Name</option>
						<option value="-upVoteCount" >Vote</option>
				</select>
				Show:
				<select ng-model="query.level" class="input-small">
					<option selected value=""> All </option>
					<option selected value="introductory"> Introductory </option>
					<option selected value="intermediate"> Intermediate </option>
					<option selected value="advanced"> advanced </option>
				</select>
				
				<ul class="thumbnails">
					<li ng-repeat = "session in event.sessions | orderBy:sortorder | limitTo:2 | filter:query">
						
						<div class="row">
							<div class="span0 well votingWidget">
								<div class="votingButton" ng-click="upVoteSession(session)">
									<a href='#' style='font-weight:bold' >+</a>
								</div>
								<div class="badge">
									<div>{{ session.upVoteCount }}</div>
								</div>
								<div class="votingButton" ng-click="downVoteSession(session)">
									<a href='#' style='font-weight:bold' >-</a>
								</div>
							</div>
							
							<div class="well span9">
								<h4 class="well-title">{{ session.name }}</h4>
								<h6>{{ session.creatorName }}</h6>
								<span> {{ session.duration | durations }} </span><br/>
								<span class="">{{ session.level }}</span>
								<p>{{ session.abstract }}</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
	</div><!--/.end container -->
	
	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/filters.js"></script>
	<script type="text/javascript" src="js/controllers/EventController.js"></script>
	<script type="text/javascript" src="js/services/EventData.js"></script>
	
	</body>
</html>
